body {
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
    font-size: var(--step-0);
    color: var(--color-text);
    background-color: var(--color-bg);
}

.main {
    position: relative;
    top: var(--header-height-neg);
}

.flow>*+* {
    margin-top: var(--flow-space, 0.5em);
}

.lazy__load {
    opacity: 0;
    filter: blur(10px);
    transition: 0.8s ease-out;
}

.lazy__load-active {
    opacity: 1;
    filter: blur(0);
}

:where(a) {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
}

:where(p) {
    color: var(--color-text);
    text-wrap: pretty;
}