:root {
    --step-0: clamp(0.8rem, calc(0.60rem + 0.55vw), 0.875rem);
    --step-1: clamp(1rem, calc(0.85rem + 0.85vw), 1.25rem);

    --ff-body: 'Bliss Pro', 'Brown', 'Futura', 'Geneva', 'Verdana', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --spacer-xs: 0.25rem;
    --spacer-s: 0.5rem;
    --spacer-m: 1rem;
    --spacer-l: 2rem;
    --spacer-xl: 4rem;
    --spacer-xxl: 8rem;

    --flow-space: 1em;

    --images-inline: 12rem;
    --container-width: calc(min(100% - 4rem, 580px));
    --header-width: calc(min(100% - 2rem, 580px));
    --header-height: 32px;
    --header-height-neg: -32px;

    --z-main-below-curtain: 10;
    --z-curtain: 20;
    --z-main-above-curtain: 30;
    --z-nav: 40;

    --color-bg: black;
    --color-text: white;
    --color-focus: hsl(52, 100%, 72%);
}