---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Modal from "@components/Modal.astro";
import Header from "@components/Header.astro";
import Info from "@components/Info.astro";
import ProjectList from "@components/ProjectList.astro";
import { Image } from "astro:assets";

const weddings = await getCollection("wedding");
const entry = await getEntry("about", "about");
const { Content } = await entry.render();
---

<BaseLayout title="Klas Näsman Wedding Photographer">
  <Modal first="Klas Näsman" second="Wedding Photographer" />
  <div class="index__container">
    <Header title={""} />
    {
      weddings.map((entry) => (
        <section class="index__section">
          <div>
            <a id={entry.data.title} href={`/wedding/${entry.slug}`}>
              <Image
                class="index__img lazy__load"
                src={entry.data.thumb}
                alt="descriptive text"
                width={1200}
              />
            </a>
          </div>
        </section>
      ))
    }
  </div>
  <Info Content={Content} />
  <ProjectList />
</BaseLayout>

<style>
  .index__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-inline: var(--images-inline);
  }

  @media (width <=750px) {
    .index__container {
      margin-inline: unset;
    }
  }

  .index__container > section:first-of-type {
    min-height: 100dvh;
  }

  .index__container > section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80vh;
    min-height: 80svh;
    width: 100%;
  }

  .index__container > section:nth-child(even) {
    justify-content: flex-start;
  }

  @media (width <=750px) {
    .index__container > section {
      justify-content: center;
      }
  }

  .index__img {
    min-width: inherit;
    min-height: inherit;
    max-height: auto;
    max-width: 600px;
    object-fit: contain;
  }

  @media (width <=750px) {
    .index__img {
      width: 100%;
    }
  }
</style>
