---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Modal from "@components/Modal.astro";
import Header from "@components/Header.astro";
import Info from "@components/Info.astro";
import ProjectList from "@components/ProjectList.astro";
import { Image } from "astro:assets";
import Footer from "@components/Footer.astro";

const weddings = await getCollection("wedding");
const entry = await getEntry("about", "about");
const { Content } = await entry.render();
---

<BaseLayout title="Klas Näsman Wedding Photographer">
  <Modal first="Klas Näsman" second="Wedding Photographer" />
  <div class="index__container">
    <Header title={""} />
    <section class="index__section">
      {
        weddings.map((entry) => (
          <div>
            <a id={entry.data.title} href={`/wedding/${entry.slug}`}>
              <Image
                class="index__img lazy__load"
                src={entry.data.thumb}
                alt="Wedding Photo, couple"
                width={1200}
              />
            </a>
          </div>
        ))
      }
    </section>
  </div>
  <Info Content={Content} />
  <ProjectList />
  <Footer />
</BaseLayout>

<style>
  .index__container {
    margin-inline: var(--images-inline);
  }

  @media (width <=750px) {
    .index__container {
      margin-inline: unset;
    }
  }

  .index__section div {
    display: grid;
    align-items: center;
    justify-content: flex-start;
  }

  .index__section > div {
    min-height: 80dvh;
  }
  .index__section div:first-of-type {
    min-height: 100dvh;
  }
  .index__section > div:nth-child(even) {
    justify-content: flex-end;
  }

  @media (width <=750px) {
    .index__container > section {
      justify-content: center;
      gap: 1rem 0rem;
      margin-block-end: 12rem;
    }
  }

  .index__img {
    min-width: inherit;
    min-height: inherit;
    max-height: 600px;
    max-width: 600px;
    object-fit: contain;
  }

  @media (width <=750px) {
    .index__img {
      max-width: 100%;
    }
  }
</style>
