---
export interface Props {
  Content: any;
  couple?: string;
  date?: string;
}

const { Content, couple, date } = Astro.props;
const currentPath = Astro.url.pathname;
const home = currentPath === "/";
---

<section id="info" class="info">
  <div class="info__container flow">
    <div class="info__heading-wrapper">
      <p class="info__heading">
        {home ? "Klas Näsman Bröllopsfotograf" : `${couple}, ${date}`}
      </p>
    </div>
    <div class="info__content">
      <Content />
    </div>
  </div>

  {
    home && (
      <div class="info__contact">
        <p class="info__contact-text">
          <em>
            <a href="mailto:">klasnasman@gmail.com</a>, <a href="https://www.instagram.com/klasnasman/">@klasnasman</a>
          </em>
        </p>
      </div>
    )
  }
</section>

<style>
  .info {
    width: var(--container-width);
    margin-inline: auto;
    padding: 0;
  }

  .info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__heading-wrapper {
    text-align: center;
  }

  .info__heading {
    text-align: center;
  }

  .info__content {
    text-align: center;
    text-wrap: balance;
    max-width: 65ch;
  }

  .info__contact-text {
    text-align: center;
  }
</style>
