---
export interface Props {
  Content : any;
  couple ?: string;
  date   ?: string;
}

const { Content, couple, date } = Astro.props;
const currentPath = Astro.url.pathname;
const home = currentPath === "/";
---

<section id="info" class="flow">
  <div class="information flow">
    <div class="heading__container">
      <p class="heading">{home ? "Klas Näsman Bröllopsfotograf" : `${couple}, ${date}`}</p>
    </div>
    <div class="content">
      <Content />
    </div>
  </div>
  {
    home && (
      <div class="contact">
        <p class="contact__text">
          <em>
            <a href="mailto:">klasnasman@gmail.com</a>, <a href="https://www.instagram.com/klasnasman/">@klasnasman</a>
          </em>
        </p>
      </div>
    )
  }
</section>

<style>
  #info {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .heading {
    text-align: center;
  }

  .content {
    text-align: center;
    text-wrap: balance;
  }

  .contact__text {
    text-align: center;
  }
</style>
