---
export interface Props {
  first: string;
  second: string;
  Content: any;
}

const { first, second, Content } = Astro.props;
const currentPath = Astro.url.pathname;
const couple = currentPath === "/";
---

<section id="info" class="flow">
  <div class="information flow">
    <div class="heading-container">
      <p class="heading">{first}, {second}</p>
    </div>
    <Content />
  </div>
  {
    couple && (
      <div class="contact">
        <p>
          <em>
            <a href="mailto:">klasnasman@gmail.com</a>, <a href="https://www.instagram.com/klasnasman/">@klasnasman</a>
          </em>
        </p>
      </div>
    )
  }
</section>

<style>
  #info {
    width: var(--container-width);
    margin-block-start: var(--spacer-xl);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .heading {
    text-transform: uppercase;
    text-align: center;
  }
</style>
