---
import "@styles/import.css";
import Transitions from "@components/Transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const canonicalURL = (Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta
      name="Klas N채sman"
      content="Wedding Photographer based in Stockholm, Sweden"
    />
    <meta
      name="description"
      content="Klas N채sman, Wedding Photographer based in Stockholm, Sweden."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Klas N채sman Wedding Photography" />
    <meta
      property="og:description"
      content="Wedding Photographer based in Stockholm, Sweden"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Klas N채sman Wedding Photography" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:url" content={canonicalURL} />
    <script src="../assets/js/lazyHeaderModal.js"></script>
    <script src="../assets/js/activeSlug.js"></script>
    <script src="../assets/js/infoGoTo.js"></script>
  </head>
  <body>
    <main class="main">
      <Transitions client:load>
        <slot />
      </Transitions>
    </main>
  </body>
</html>
