---
import { AstroFont } from "astro-font";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const canonicalURL = (Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="UTF-8" />
  <title>{title ? `${title} • Klas Näsman Bröllopsfotograf` : "Klas Näsman Bröllopsfotograf"}</title>
  <meta name="Klas Näsman" content="Bröllopsfotograf baserad i Stockholm" />
  <meta name="description" content="Klas Näsman, Bröllopsfotograf baserad i Stockholm." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content="Klas Näsman Bröllopsfoto" />
  <meta property="og:description" content="Bröllopsfotograf baserad i Stockholm" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Klas Näsman Bröllopsfoto" />
  <meta name="theme-color" content="#030712" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="canonical" href={canonicalURL} />
  <meta property="og:url" content={canonicalURL} />
  <script src="../assets/js/lazyHeaderModal.js"></script>
  <script src="../assets/js/activeSlug.js"></script>
  <script src="../assets/js/infoGoTo.js"></script>
  <AstroFont
    config={[
      {
        name: "Sigma Serif",
        src: [
          {
            style: "normal",
            weight: "400",
            path: "/assets/fonts/SigmaSerif-Text.woff2",
          },
        ],
        preload: true,
        display: "swap",
        fallback: "serif",
      },
    ]}
  />
  <!-- by Out Surfing Studio -->
</head>
