---
import "@styles/import.css";
import Transitions from "@components/Transitions";
import Head from "./Head.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <main class="main">
      <Transitions client:load>
        <slot />
      </Transitions>
    </main>
  </body>
</html>

<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--images-inline);
  }

  @media (width <=750px) {
    .main {
      padding-inline: 0rem;
    }
  }
</style>
